.listPrice {
  color: #727273;
  font-size: 1rem;
  margin-bottom: .25rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  color: #79B03A;
  font-weight: 500;
}

.sellingPriceValue--summary {
  color: #2E2E2E;
  font-size: 1.25rem;
  font-weight: 600;
}

.savings--summary {
  color: #FFFFFF;
  display: flex;
  font-size: 0.875rem;
  background: #8BC34A;
  font-weight: 600;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1000px;
  vertical-align: baseline;
}

.savings-discount--summary {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  vertical-align: baseline;
}

.listPrice--summary {
  font-size: .875rem;
  margin-bottom: 0.25rem;
}

.installments--summary {
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.savings--summaryPercentage {
  display: flex;
  background: #0f3e99;
  align-items: center;
  border-radius: 1000px;
}

.savingsPercentage--summaryPercentage {
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
}
