.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container :global(.vtex-button) {
  padding: 5px 15px;
  border-color: #005f73;
  border-radius: 0;
  text-transform: none;
  background-color: #005f73;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

.nameContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: start;
}

.brandName {
  color: #2E2E2E;
  font-size: 18px;
  font-weight: 600;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}
