.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 25px;
}

.paginationDot {
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px !important;
  background-color: #efecec;
}

.paginationDot:hover,
.paginationDot--isActive {
  width: 30px !important;
  background-color: #0a9396;
}

.caretIcon  {
  color:#0a9396 !important;
}

.sliderTrackContainer--carousel {
  max-width: none;
}

.imageElement--carousel {
  max-height: none !important;
}

.sliderLayoutContainer--shelf {
  margin-bottom: 30px;
}
