.productHighlightWrapper--collection {
  top: 10px;
  left: 5px;
  width: 200px;
  position: absolute;
}

.productHighlightText {
  padding: 5px 10px;
  background: antiquewhite;
  border-radius: 20px;
}
